<config>
    <DirectoryTree>
        <root>
            <add key="root" value="D:\workspace\dev\PowershellModules\claro.co.pol.task\" />
        </root>
        <folder>
            <add key="Log" value="logs" />
            <add key="Source" value="source" />
            <add key="Private" value="private" />
            <add key="Log" value="log" />
            <add key="Temp" value="temp" />
        </folder>
    </DirectoryTree>
    <MasksFormat>
        <add key="dateFormat" value="yyyyMMdd" />
        <add key="dateTimeFormat" value="yyyyMMdd_HHmmss" />
    </MasksFormat>
    <SourceFile>
        <add key="SecurityKeyPath" value="source\EncryptedPassword.txt" />
        <add key="QryUpdUserSuport" value="source\claro.co.pol.task.updUser.sql" />
        <add key="QrySlcUserSuport" value="source\claro.co.pol.task.slcUser.sql" />
        <add key="LockFile" value="temp\claro.co.pol.task.updUser.lock" />
    </SourceFile>
    <ConnectionString>
        <add key="ACTIVA.PROD" value="User Id=POLIEDRO;Password={0};Data Source=CLARO.ACTIVA.QA;" />
    </ConnectionString>
    <Package>
        <add key="ODP"
            value="Oracle.ManagedDataAccess.dll" />
    </Package>
    <Validator>
        <add key="checkDirectoryStructure" value="true" />
    </Validator>
</config>